html, body {
  margin: 0;
}

.controller svg {
    height: 100vh;
    width: auto;
}

.pin-picker {
  margin: 1em;
}

.button {
  cursor: pointer;
}

.modal button {
  background: #34beec;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}

.modal .contain {
  position: relative;
  height: 2em;
  margin: 0.5em 0 0 0;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  width: 80vw;
  margin: auto;
  background: #eee;
  top: 50%;
  transform: translateY(-50%);
  padding: 1em 2em;
}

.modal-contain {
  background: #000a;
  height: 100%;
  width: 100%;
  position: absolute;
}


.controller, .controller text {
  -webkit-user-select: none !important;
  user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -moz-user-select: none !important;
}

/* Cheese it! */
html.dark .controller *[fill="#f2f2f4"] {
  fill: #000 !important;
}
html.dark .controller *[fill="#eee"] {
  fill: #000 !important;
}
html.dark .controller *[stroke="#000000"] {
  stroke: #f2f2f4 !important;
}
html.dark .controller *[fill="#000000"] {
  fill: #f2f2f4 !important;
}
html.dark, html.dark body {
  background: #000;
}

.dark-toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  margin: 1rem;
}
